@import '../../styles/sprite.scss';

.btn--face {
  width: 26px;
  height: 26px;
  display: block;
  cursor: pointer;
  @include sprite(
    -0 * 26px,
    -24px,
    url('../../assets/minesweeper-sprites.png')
  );
}

.btn--face:active {
  @include sprite(
    -1 * 27px,
    -24px,
    url('../../assets/minesweeper-sprites.png')
  );
}
