@import '../../styles/sprite.scss';

.face {
  width: 26px;
  height: 26px;
  display: block;
  cursor: pointer;
  @include sprite(
    -0 * 27px,
    -24px,
    url('../../assets/minesweeper-sprites.png')
  );
  &.won {
    @include sprite(
      -3 * 27px,
      -24px,
      url('../../assets/minesweeper-sprites.png')
    );
  }
  &.exploded {
    @include sprite(
      -4 * 27px,
      -24px,
      url('../../assets/minesweeper-sprites.png')
    );
  }
  &.focused {
    @include sprite(
      -2 * 27px,
      -24px,
      url('../../assets/minesweeper-sprites.png')
    );
  }
}

.face:active {
  @include sprite(
    -1 * 27px,
    -24px,
    url('../../assets/minesweeper-sprites.png')
  );
}
