@import '../../styles/variables';

.header {
  @include border($bg-dark, $white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 6px;
  width: 100%;
  margin-bottom: 6px;
}
